BODY {
	MARGIN: 0px; WIDTH: 100%; BACKGROUND-COLOR: #517abf
}
TABLE#headerInner {
	WIDTH: 750px
}
TABLE#search {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.speedNav {
	FONT-SIZE: 12px; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 2px; FONT-VARIANT: small-caps
}
TABLE#body {
	MARGIN: 0px; WIDTH: 100%; HEIGHT: 100%; BACKGROUND-COLOR: #517abf
}
TABLE#content {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #506a92; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 550px; BORDER-RIGHT-WIDTH: 0px
}
TD#contentTop {
	BACKGROUND-IMAGE: url(../images/bodyTop.gif); HEIGHT: 15px
}
TD#contentBottom {
	BACKGROUND-IMAGE: url(../images/bodyBottm.gif); HEIGHT: 15px
}
TD#mainContent {
	BACKGROUND-COLOR: #ffffff
}
.introPic {
	MARGIN: 0px -1px -1px 0px; HEIGHT: 202px
}
DIV#inFocus {
	BORDER-RIGHT: #cccccc 1px solid; FONT-SIZE: 10px; LEFT: 5px; WIDTH: 150px; COLOR: #647b9d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; TEXT-ALIGN: left
}
.infocus {
	BORDER-TOP: #336699 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: auto; COLOR: #666666; BORDER-BOTTOM: #336699 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 2px; HEIGHT: 20px; BACKGROUND-COLOR: #c1b5e6; TEXT-ALIGN: center
}
DIV#inFocus A:hover {
	COLOR: #aaaadd
}
DIV#newsEvents {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; RIGHT: 5px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 170px; COLOR: #647b9d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; TEXT-ALIGN: left
}
.news {
	BORDER-TOP: #336699 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: auto; COLOR: #666666; BORDER-BOTTOM: #336699 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 2px; HEIGHT: 20px; BACKGROUND-COLOR: #a8c5e1; TEXT-ALIGN: center; FONT-VARIANT: small-caps
}
DIV#visitors {
	MARGIN-TOP: -15px; FONT-WEIGHT: bold; FONT-SIZE: 10px; RIGHT: 5px; BORDER-LEFT: #cccccc 1px solid; COLOR: #647b9d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; TEXT-ALIGN: left
}
.vip {
	BORDER-TOP: #336699 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: auto; COLOR: #666666; BORDER-BOTTOM: #336699 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 2px; HEIGHT: 20px; BACKGROUND-COLOR: #78e375; TEXT-ALIGN: center; FONT-VARIANT: small-caps
}
.compny {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #647b9d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV#content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; WIDTH: 390px; COLOR: #666666; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.address {
	FONT-SIZE: 9px; FLOAT: left; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.validators {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0.25em
}
.validators A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.versionLine {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.border {
	BACKGROUND-IMAGE: url(../images/border.jpg); WIDTH: 10px; BACKGROUND-REPEAT: repeat-y
}
.height {
	HEIGHT: 25px
}
.navBar A {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/backgrnd.gif); COLOR: #a2c0df; TEXT-INDENT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left
}
.navBar A:link {
	COLOR: #a2c0df; TEXT-DECORATION: none
}
.navBar A:visited {
	COLOR: #a2c0df; TEXT-DECORATION: none
}
.navBar A:hover {
	COLOR: #c4e2f0; TEXT-DECORATION: none
}
.borderLast {
	LEFT: -1px; BOTTOM: -1px; POSITION: relative
}
.quickLinks A {
	FONT-SIZE: 11px; COLOR: #9999cc; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.quickLinks A:link {
	FONT-SIZE: 11px; COLOR: #9999cc; TEXT-DECORATION: none
}
.quickLinks A:visited {
	FONT-SIZE: 11px; COLOR: #9999cc; TEXT-DECORATION: none
}
.quickLinks A:hover {
	FONT-SIZE: 11px; COLOR: #ddddff
}
.quickLinksHead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #aa70de; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navContainer {
	HEIGHT: 204px
}
.innerLogo {
	MARGIN-TOP: -1px; MARGIN-LEFT: -5px; WIDTH: 158px
}
.innerHelper {
	BACKGROUND-IMAGE: url(../images/InnerHelper.jpg); BACKGROUND-REPEAT: repeat-x
}
DIV#innerContent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 347px; COLOR: #666666; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
DIV#innerContent A {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
DIV#innerContent A:link {
	FONT-SIZE: 12px; COLOR: #647b9d
}
DIV#innerContent A:visited {
	FONT-SIZE: 12px; COLOR: #647b9d
}
DIV#innerContent A:hover {
	FONT-SIZE: 12px; COLOR: #92aed6
}
DIV#innerNavigation {
	MARGIN-TOP: 20px; DISPLAY: block; FONT-SIZE: 12px; RIGHT: 5px; FLOAT: left; BORDER-LEFT: #cccccc 1px solid; WIDTH: 155px; COLOR: #647b9d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
DIV#innerNavigation A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #647b9d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV#innerNavigation A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #647b9d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV#innerNavigation A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #aaaadd; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.innerNavHead {
	BORDER-TOP: #336699 2px solid; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: auto; COLOR: #666666; BORDER-BOTTOM: #336699 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #78e375; FONT-VARIANT: small-caps
}
.contacts {
	BORDER-TOP: #336699 2px solid; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: auto; COLOR: #666666; BORDER-BOTTOM: #336699 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #c1b5e6; FONT-VARIANT: small-caps
}
.reltdLinks {
	BORDER-TOP: #336699 2px solid; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: auto; COLOR: #666666; BORDER-BOTTOM: #336699 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #ffcc66; FONT-VARIANT: small-caps
}
.contentPane {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: url(../images/FaintBckgnd.jpg) #ffffff no-repeat right top; PADDING-BOTTOM: 10px; COLOR: #666666; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.contentPane A:link {
	FONT-SIZE: 12px; COLOR: #647b9d
}
.contentPane A:visited {
	FONT-SIZE: 12px; COLOR: #647b9d
}
.contentPane A:hover {
	FONT-SIZE: 12px; COLOR: #92aed6
}
.sepBar {
	FONT-WEIGHT: bold; COLOR: #ff9933; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navBarInner A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a2c0df; TEXT-INDENT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.navBarInner A:hover {
	COLOR: #e6f4ff
}
.innerHeading {
	FONT-SIZE: 36px; COLOR: #ffffff; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; LETTER-SPACING: 5px
}
.innerSubHeading {
	FONT-SIZE: 12px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 2px
}
.test {
	WIDTH: 161px
}
DIV#logo {
	FLOAT: right; WIDTH: 160px
}
DIV#innerNavBar {
	MARGIN-TOP: -1px; PADDING-LEFT: 5px; MARGIN-LEFT: -1px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px; HEIGHT: 24px; BACKGROUND-COLOR: #010586; TEXT-ALIGN: left
}
DIV#header {
	BACKGROUND-IMAGE: url(../images/InnerHelper.jpg); MARGIN-LEFT: -1px; MARGIN-RIGHT: -1px; BACKGROUND-REPEAT: repeat-x
}
.innerLinks {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: right; FONT-VARIANT: small-caps
}
.innerLinks A:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.25em; COLOR: #333333; PADDING-TOP: 0.25em; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
.innerLinks A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.25em; COLOR: #333333; PADDING-TOP: 0.25em; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
.innerLinks A:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.25em; COLOR: #333333; PADDING-TOP: 0.25em; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
.innerLinks A:active {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.25em; COLOR: #333333; PADDING-TOP: 0.25em; BACKGROUND-COLOR: #ffcc66; TEXT-DECORATION: none
}
.innerLinksHighlight {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; WIDTH: auto; COLOR: #333333; BORDER-BOTTOM: #bbbbbb thin solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #ffcc66; TEXT-ALIGN: right; FONT-VARIANT: small-caps
}
DIV#innerHeading {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(../images/InnerGradient.jpg); MARGIN-RIGHT: -1px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #8fc4e3
}
TABLE#search {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.rightAlign {
	FLOAT: right
}
.searchButton {
	BORDER-TOP-WIDTH: thin; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: thin; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: thin; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BORDER-RIGHT-WIDTH: thin
}
.siteMapSpan {
	FONT-WEIGHT: bold; FLOAT: left; COLOR: #dddddd; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.breadcrumbs {
	FONT-WEIGHT: 100; FONT-SIZE: 10px; FLOAT: left; COLOR: #4444aa; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.breadcrumbs A {
	COLOR: #444477; TEXT-DECORATION: none
}
.breadcrumbs A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.siteMapHead {
	BACKGROUND-COLOR: #bbccdd
}
.siteMapTable {
	WIDTH: 100%; TEXT-ALIGN: left
}
.mediaTable {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
